/* page (TODO split in 2 files?) */

html, body { 
    margin: 0;
	height: 100%;
	font-size: 95%;
	font-family: 'Raleway', sans-serif;
}

canvas {
    display: block;
}

#display {
	min-height: 100%;
}

#sidenav {
    position: fixed;
	top: 0;
	bottom: 0;
	width: 20%;

	height: 100%;
	transition: 0s;
	border-right: 1px solid black;
	background: #bbb;

	z-index: 200;
	overflow-x: hidden;

	display: block;
}

#sidenav p {
	margin: 0;
}

#frame {
	position: fixed;
	overflow: auto;
	height: 100%;
	width: 80%;
	margin-left: 20%;
	align-items: stretch;
}

#nav_opener {
    position: fixed;
    z-index: 100;
    font-size: 30px;
    cursor: pointer;
}

#sidenav_content {
    padding: 5%;
	height: 95%;
}

#sidenav textarea {
    resize: none;
    width: 250px;
    height: 200px;
    outline: none;
    border: 1px solid #333;
    background: #222;
    color: #666;
}

#sidenav button {
    padding : 5px;
    border: 1px solid #222;
    background: #eee;
    color: #222;
}

#sidenav input[type="number"] {
	width: 50px;
}

#nav_closer {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* HexaLab */

.hl_frame_title {
	font-size: 200%;
}

.hl_group_title {
	font-weight: bold;
}

.hl_frame input {
	margin-top: 4px;
	margin-bottom: 4px;
	vertical-align: middle;
}

.hl_frame {
	border: 1px solid black;
	display: block;
}

.hl_frame input {
	display: inline-block;
}

.hl_label_text {
	width: 40%;
	max-width: 400px;
	display: inline-block;
	font-size: 85%;
	font-weight: bold;
}

.hl_group {
	width: 100%;
	border: 1px solid red;
	padding-left: 15px;
	box-sizing: border-box;
}
