html, body { 
    margin: 0;
	height: 100%;
}

canvas {
    display: block;
}

#display {
	min-height: 100%;
	display: flex;
}

#sidenav {
    position: fixed;
	top: 0;
	bottom: 0;
	width: 20%;

	height: 100%;
    background-color: #111;
	color: #bbb;
	font-family: monospace;
	transition: 0s;

	z-index: 200;
	overflow-x: hidden;

	display: block;
}

#sidenav p {
	margin: 0;
}

#frame {
	width: 80%;
	margin-left: 20%;
	align-items: stretch;
}

#nav_opener {
    position: fixed;
    z-index: 100;
    font-size: 30px;
    cursor: pointer;
}

/* Sidenav content */

#sidenav_content {
    padding: 5%;
	height: 95%;
}

#sidenav textarea {
    resize: none;
    width: 250px;
    height: 200px;
    outline: none;
    border: 1px solid #333;
    background: #222;
    color: #666;
}

#sidenav button {
    padding : 5px;
    border: 1px solid #222;
    background: #eee;
    color: #222;
}

#sidenav input[type="number"] {
	width: 50px;
}

#nav_closer {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}