/* page (TODO split in 2 files?) */

html, body { 
    margin: 0;
	height: 100%;
	font-size: 95%;
	font-family: 'Raleway', sans-serif;
}

.ui-widget {
	font-family: 'Raleway', sans-serif;
}

canvas {
    display: block;
}

#display {
	min-height: 100%;
}

#sidenav {
    position: fixed;
	top: 0;
	bottom: 0;
	width: 20%;

	height: 100%;
	transition: 0s;
	border-right: 1px solid black;
	background: #fff;

	/*z-index: 200;*/
	overflow-x: hidden;

	display: block;
}

#sidenav p {
	margin: 0;
}

#frame {
	position: fixed;
	overflow: auto;
	height: 100%;
	width: 80%;
	margin-left: 20%;
	align-items: stretch;
}


.ui-accordion .ui-accordion-content{
	padding:1em 1em;
}

.ui-controlgroup {
	width: 100%;
}

#sidenav textarea {
    resize: none;
    width: 250px;
    height: 200px;
    outline: none;
    border: 1px solid #dddddd;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	margin-top: 1em;
}

#sidenav input[type="number"] {
	width: 50px;
}

#nav_opener {
    position: fixed;
    z-index: -1;
    font-size: 30px;
    cursor: pointer;
}

#nav_closer {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
